body {
    background: rgb(200, 248, 222);
}

form {
    padding-left: 50px;
    padding-top: 30px;
}

select {
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

h1 {
    text-align: center;
    color: rgb(5, 104, 5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    border: 5px dotted #17cf36;
    border-radius: 50px;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(21, 100, 80);
    font-size: larger;
    font-weight: bolder;
}

input:focus {
    border: 2px solid rgb(157, 161, 159);
    border-radius: 5px;
}

input {
    border-radius: 5px;
    padding-left: 3px;
    width: 250px;
    padding-bottom: 4px;
    font-size: 100%;
}

#btn {
    background-color: rgb(8, 124, 105);
    color: rgb(236, 245, 179);
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    padding: 3px 5px;
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 40px;
    border-radius: 12px;
    border: 2px solid rgb(226, 230, 186);
    transition-duration: 0.3s;
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.2), 0 10px 20px 0 rgba(0,0,0,0.19);
}

#btn:hover {
    background-color: rgb(200, 248, 222);
    color: rgb(40, 145, 127);
    border: 2px solid  rgb(55, 177, 156);
}

#countries {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color:black;
    padding-top: 10px;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(7, 68, 53);
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 0px;
}

li {
    width: 70%;
}

.countrySpan {
    display: inline-block;
    width: 30%;
}

.continentSpan {
    font-size: smaller;
    display: inline-block;
    width: 30%;
}

.removeBtn {
    float: inline-start;
}